build/
.devcontainer/
.vscode/
.ci/
managed_components/
sdkconfig
sdkconfig.old
build/
CMakeLists.txt.user
index.html
CMakeCache.txt
build.ninja
cmake_install.cmake
compile_commands.json
*.args
flasher_args.json
project_description.json
ldgen_libraries*
partition-table-flash_args
sdkconfig.old
config.env
.clangd
kconfigs.in
kconfigs_projbuild.in
pytest_wifi_station.py
sdkconfig.ci
sdkconfig.ci.*
sdkconfig.defaults